<style>
  .img-with-icons-box .flex {
    gap: 80px;
        align-items: start;
}

#shopify-section-{{ section.id }} .h0,#shopify-section-{{ section.id }} .h2 {
color:{{section.settings.heading_color}};

}
    #shopify-section-{{ section.id }} .body {
  color:{{section.settings.content_color}};

    }
          #shopify-section-{{ section.id }} .img-with-icons-box {
              background-color: {{section.settings.bg_color}};

          }

              .icons-wrapper svg {
                  height: 60px;
                  border: 1px solid;
                  border-radius: 50%;
              }

       #shopify-section-{{ section.id }} .icon-wrapper img.icon {
          height: {{section.settings.icon_size}}px;
          object-fit: contain;
          width: {{section.settings.icon_size}}px;
      }

            .icon_box h3.h2 {
                margin: 9px auto;
            }

            .icons-wrapper {
                display: grid;
                grid-template-columns: 50% 50%;
                gap: 20px;
                width: 100%;
              margin-top: 50px;
            }


            .img-with-icons-box img.image {
                width: 100%;
                object-fit: cover;
            }

    #shopify-section-{{ section.id }} .icon_box h3.h2{
      font-size:{{section.settings.font_size}}px;
    }



/* Icon In Bottom */
{%- if section.settings.icon_box_position == 'bottom' -%}


  .img-with-icons-box.bottom img.image {
border-radius: 40px;
}
.img-with-icons-box.bottom img.image {
  border-radius: 40px;
}
.img-with-icons-box.bottom .flex {
    align-items: center;
}


.img-with-icons-box.bottom .icons_box {
    display: flex;
}

.img-with-icons-box.bottom .icon_box {
    display: flex;
    align-items: center;
    gap: 19px;
}

.img-with-icons-box.bottom .icon_box h3 {
    margin: 0;
    font-family: 'Avenir LT Std';
    text-transform: capitalize;
    max-width: 56%;
}

.img-with-icons-box.bottom .icons-wrapper {grid-template-columns: 33% 33% 33%;justify-items: center;gap: 30px;
                                          margin-top: 80px;}
      {%- endif -%}
  /* Icon In Bottom End */
</style>
<div class="img-with-icons-box py-70 {{ section.settings.icon_box_position }}">
<div class="page-width flex">
<div class="col">
<h2 class="h0">{{ section.settings.heading }}</h2>

{%- if section.settings.content != blank -%}
  <div class="body">
    {{ section.settings.content }}
  </div>
{%- endif -%}

{%- if section.settings.icon_box_position == 'left' -%}
  <div class="icons-wrapper">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'icon_box' -%}
          <div class="icon_box">
            <div class="icon-wrapper">
              {%- # Label: Icon Image -%}
              {%- assign icon_image = block.settings.icon_image -%}

              {%- if block.settings.icon_image -%}
                {{ icon_image | image_url: width: icon_image.width | image_tag: class: 'icon', loading: 'lazy' }}
              {%- else -%}
                {{ 'image' | placeholder_svg_tag }}
              {%- endif -%}
            </div>
            <h3 class="h2">
              {%- # Label: Subtitle -%}
              {{ block.settings.subtitle }}
            </h3>
            {% if block.settings.content != blank %}
              <div class="body">
                {%- # Label: Content -%}
                {{ block.settings.content }}
              </div>
            {% endif %}
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
{%- endif -%}
</div>
<div class="col">
{%- # Label: Image -%}

{%- if section.settings.image -%}
  {%- assign image = section.settings.image -%}
  {{ image | image_url: width: image.width | image_tag: class: 'image', loading: 'lazy' }}
{%- else -%}
  {{ 'image' | placeholder_svg_tag }}
{%- endif -%}
</div>
</div>

{%- if section.settings.icon_box_position == 'bottom' -%}
<div class="icons-wrapper page-width">
{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'icon_box' -%}
      <div class="icon_box">
        <div class="icon-wrapper">
          {%- # Label: Icon Image -%}
          {%- assign icon_image = block.settings.icon_image -%}

          {%- if block.settings.icon_image -%}
            {{ icon_image | image_url: width: icon_image.width | image_tag: class: 'icon', loading: 'lazy' }}
          {%- else -%}
            {{ 'image' | placeholder_svg_tag }}
          {%- endif -%}
        </div>
        <h3 class="h2">
          {%- # Label: Subtitle -%}
          {{ block.settings.subtitle }}
        </h3>

        {% if block.settings.content != blank %}
          <div class="body">
            {%- # Label: Content -%}
            {{ block.settings.content }}
          </div>
        {% endif %}
      </div>
  {%- endcase -%}
{%- endfor -%}
</div>
{%- endif -%}
</div>

{% schema %}
{
"name": "Image With Icon Box",
"settings": [
{
"type": "text",
"id": "heading",
"default":"Title",
"label": "Heading"
},
{
"type": "richtext",
"id": "content",
"label": "Content"
},
{
"type": "image_picker",
"id": "image",
"label": "Image",
"info": "Image"
},
{
"type": "select",
"id": "icon_box_position",
"label": "Icon Box Position",
"options": [
  {
    "value": "left",
    "label": "Left"
  },
  {
    "value": "bottom",
    "label": "Bottom"
  }
],
"default": "left"
},

{
"type": "header",
"content": "Styling Section"
},
{
"type": "color",
"id": "heading_color",
"label": "Heading Color",
"default": "#383838"
},
{
"type": "color",
"id": "content_color",
"label": "Content Color",
"default": "#383838"
},

{
"type": "color",
"id": "bg_color",
"label": "Background Color",
  "default": "#FBF1FF"
},
{
"type": "header",
"content": "Styling Image Box"
},
{
"type": "range",
"id": "font_size",
"label": "Font Size",
"min": 12,
"max": 50,
"default": 24,
"unit": "px"
},
{
"type": "range",
"id": "icon_size",
"label": "Icon SIze",
"min": 20,
"max": 100,
"default": 55,
"unit": "px"
}

],
"blocks": [
{
"name": "Icon Box",
"type": "icon_box",
"settings": [
  {
    "type": "image_picker",
    "id": "icon_image",
    "label": "Icon Image",
    "info": "Icon"
  },
  {
    "type": "text",
    "id": "subtitle",
    "label": "Subtitle",
    "default":"Sub Title"
  },
  {
    "type": "textarea",
    "id": "content",
    "default":"Content",
    "label": "Content"
  }
]
}
],
"presets": [
{
"name": "Image With Text and icons"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
