
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
{%- style -%}
  .product-slider {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
  }

  .slider-for {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .slider-nav {
    width: 23%;
    display: flex;
    flex-direction: column;
    /* overflow-y: auto; */
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 10px;
  }

  .slider-nav img {
    cursor: pointer;
    height: 110px;
    width: 100%;
    padding: 0;
    border: 1px solid #F0F0F0;
    border-radius: 1px;
    object-fit: cover;
    border-radius: 14px;
  }

  .slider-for img {
    cursor: grab;
    width: 100%;
    height: 572px;
    object-fit: cover;
    border: 0;
    border-radius: 21px;
    
  }

.slick-vertical .slick-slide {
    margin-bottom: 18px;
    border: 0;
}

.product__media-wrapper {
    max-width: 50% !important;
    width: 50% !important;
}

.slider-nav .slick-prev,.slider-nav .slick-next {left: 0;right: 0;margin: 0 auto;}

.slider-nav .slick-prev {
    top: -50px;
}

.slider-nav .slick-next {
    bottom: -40px;
    top: auto;
}

.product__info-wrapper.grid__item {
    max-width: 50% !important;
    width: 50% !important;
    padding-left: 20px !important;
}

.slick-arrow {
    background: url(https://cdn.shopify.com/s/files/1/0681/6468/1877/t/1/assets/arrow-slider.png?v=1728942444) no-repeat center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    height: 30px;
    width: 30px;
    opacity: 1 !important;
}

.slick-arrow::before {
    display: none;
}

.slider-nav .slick-prev {
    transform: rotate(180deg);
}
{%- endstyle -%}

{% if product.images.size > 1 %}
  <div class="product-slider">
    <div class="slider-nav">
      {% for image in product.images %}
        <div>
          <img src="{{ image.src | img_url: '100x100' }}" alt="{{ image.alt | escape }}">
        </div>
      {% endfor %}
    </div>
    <div class="slider-for">
      {% for image in product.images %}
        <div>
          <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}">
        </div>
      {% endfor %}
    </div>
  </div>
{% else %}
  <img src="{{ product.featured_image | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script>
  $(document).ready(function() {
    $('.slider-for').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: '.slider-nav'
    });
    $('.slider-nav').slick({
      slidesToShow: 3,
        arrows: true,
      slidesToScroll: 1,
      vertical: true,
      asNavFor: '.slider-for',
      dots: false,
      focusOnSelect: true
    });
  });
</script>