<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

<style>
    .rev-item h3 {
      margin-bottom: 10px;
      margin-top: 0;
  }


    #shopify-section-{{ section.id }} .rev-item p {
      margin-top: 10px;
      margin-bottom: 0;
  }
      #shopify-section-{{ section.id }}  h2.title.inline-richtext.h1 {
        margin-bottom: 10px;
        margin-top: 0;
    }
           #shopify-section-{{ section.id }} .rating {
              display: flex;
              align-items: center;
          }
        #shopify-section-{{ section.id }} .rev-item {
            border-radius: 8px;
            background: var(--White, #FFF);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.04);
            padding: 25px;
            margin: 10px;
        }
        #shopify-section-{{ section.id }} .swiper-pagination {
          bottom: 0 !important;
      }

     #shopify-section-{{ section.id }} .review-inner {
          padding: 50px 0 !important;
      }

     #shopify-section-{{ section.id }} .review-inner .swiper.Carousel {
          padding-bottom: 30px;
           margin-left: -10px;
    margin-right: -10px;
      }

    #shopify-section-{{ section.id }}  span.swiper-pagination-bullet.swiper-pagination-bullet-active {
          background: #E8B50F;
          width: 30px;
          border-radius: 10px;
      }
</style>

<div class="review-inner">
  <div class="page-width">
    <h2 class="title inline-richtext h1">
      {{ section.settings.title }}
    </h2>
    <div class="swiper Carousel">
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          <div class="swiper-slide">
            <div class="rev-item">
              <h3>{{ block.settings.title }}</h3>
              <div class="rating">
                {% for i in (1..block.settings.rating) %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M7.53834 1.10997C7.70914 0.699319 8.29086 0.699318 8.46166 1.10996L9.99874 4.80556C10.0707 4.97868 10.2336 5.09696 10.4204 5.11194L14.4102 5.4318C14.8535 5.46734 15.0332 6.02059 14.6955 6.30993L11.6557 8.91378C11.5133 9.03576 11.4512 9.22715 11.4947 9.40952L12.4234 13.3028C12.5265 13.7354 12.0559 14.0773 11.6764 13.8455L8.26063 11.7592C8.10062 11.6615 7.89938 11.6615 7.73937 11.7592L4.32363 13.8455C3.94408 14.0773 3.47345 13.7354 3.57665 13.3028L4.50534 9.40952C4.54884 9.22715 4.48665 9.03576 4.34426 8.91378L1.30453 6.30993C0.966758 6.02059 1.14652 5.46734 1.58985 5.4318L5.57955 5.11194C5.76645 5.09696 5.92925 4.97868 6.00126 4.80556L7.53834 1.10997Z" fill="#FD7E14"/>
                  </svg>
                {% endfor %}
              </div>
              <div class="content">{{ block.settings.text }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".Carousel", {
    slidesPerView: 3,
    spaceBetween: 00,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>

{% schema %}
{
  "name": "Review Carousel",
  "class": "section rev-section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
  {
      "type": "inline_richtext",
      "id": "title",
      "default": "Customers Love",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [

        {
          "type": "inline_richtext",
          "id": "title",
          "default": "Sheila Denzi.",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>“Fantastic clothes. I wasn't sure when I ordered them but I have to say it's without any doubts the best purchase of this year. So comfy and stylish ❤️.”</p>",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        },

    {
            "type": "range",
            "id": "rating",
            "min": 1,
            "max": 5,
            "label": "Rating",
            "default": 5
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Review Carousel",
      "blocks": [
        {
          "type": "review"
        },
        {
          "type": "review"
        },
        {
          "type": "review"
        }
      ]
    }
  ]
}
{% endschema %}
